<h1>Ярославсие мосты</h1>
<p>Наш сайт посвящен борьбе против пробок на Ярославском шоссе. Мы предложим Вам возможные маршруты объездов, актуальную информацию о состоянии на дороге и актуальные новости о состоянии ремонта. Кроме того ждем от вас предложений по возможной организации движения для улучшения ситуации с простоями</p>
